BODY {
	FONT: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif; BACKGROUND: #333; COLOR: #fff
}
#holder {
	POSITION: absolute; MARGIN: -240px 0px 0px -320px; WIDTH: 640px; HEIGHT: 480px; TOP: 50%; LEFT: 50%
}
#copy {
	POSITION: absolute; TEXT-ALIGN: right; BOTTOM: 0px; FONT: 300 0.7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif; RIGHT: 1em
}
#copy A {
	COLOR: #fff
}
